.name {
    background: #4aaaa5;
    width: 20%;
    color: #eeeeee;
    padding: 10px;
    margin-left: 200px;
    margin-top: 0px;
    text-align: center;
}

nav {
    position: relative;
    right: 200px;
    margin-right:50px;
    float:right;
    color: #777777;
    word-spacing: 15px;
    
}

a {
    text-decoration: none;
}

.background {
    background: url("./../images/vintage-leaves.png");
    height: auto;
    border-top: #cccccc solid 1px;
}

#bio {
    text-align: left;
    font-size: 30px;
}

.main {
    position: relative;
    left: 200px;
    background: #ffffff;
    text-align: left;
    width: 960px;
    height: auto;
    line-height: 150%;
    padding: 30px;
    border: #dddddd solid 1px;
}


h2 {
    color: #4aaaa5;
}

.footer {
    background: #666666;
    color: #eeeeee;
    width:100%;
    text-align: center;
    font-size: 8px;
    padding: 20px;
    border-top: #4aaaa5 solid 6px;
} 

.pic {height:200px;
    width:200px;
    float: left;
    transform: rotate(90deg);
    padding: 30px 0px 0px 30px;
}

input {
    width: 100%;    
}

textarea {
    width: 100%;
}

/* submit button on contact page  */
#button {
    width: 80px;
    background-color: #4aaaa5;
    color: #ffffff;
}

.img {
    position: relative;
    width: 200px;
    height:auto;

}

.container {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    justify-content: space-between;
    flex-flow: row wrap;
    

}
 
.clearfix {
    overflow:auto;
}

/* specs for the banners over the pics on portfolio page  */
.banner {  
    position: relative;
    font-size: 20px;
    background-color: #4aaaa5;
    color: #ffffff;
    width: 100%;
    bottom:80px;
    text-align: center;
}


/* the following are all the banner positions over the pics on portfolio page */
/* .ab {
    bottom: 440px;  
    left: 251px;  
}

.cd {
    bottom: 503px;
    left: 540px;
}

.ef {
    bottom: 566px;
    left: 839px;
}

.gh {
    bottom: 330px;
    left: 540px;
}

.ij {
    bottom: 393px;
    left: 832px;
} */


@media screen and (max-width: 768px) {
    .name {
        position: relative;
        /* position: fixed; */
        z-index: 1;
        top: -43px;
        width: 40%;
        padding: 0px;
        float: left;
        /* text-align: center; */
        margin-left: -45px;
        }
    nav {
        position: relative;
        right: -30px;
        margin-right: 50px;
        float: right;
        /* height: 30px; */
        /* z-index: 2; */
        /* text-align: center; */
        /* left: 0px; */
        /* top: 80px;
        margin-top: 20px; */
        /* width: 768px; */
        /* background-color: #ffffff;     */
    }
    .main {
        position: relative;
        left: -10px;
        margin-left: 80px;
        width: 400px;
    }
    .header {
        /* width: 100%; */
        padding: 35px;}
    /* .img {margin-left: 0px;} */
    /* .clearfix {height: 80vh;} */

    .container {
        width: 100%;
        align-items: center;
        flex-flow: column wrap;

    }
    
    .img {
        width: 300px;
        align-items: center;

    }
}

@media screen and (max-width: 640px) {
    .name {position: fixed;
        z-index: 1;
        top: 0px;
        width: 640px;
        margin-left: -30px;
        }
    nav {position: fixed;
        height: 30px;
        z-index: 2;
        text-align: center;
        left: 0px;
        top: 80px;
        margin-top: 20px;
        width: 640px;
        background-color: #ffffff;    
    }
    .main {
        position: relative;
        left: -10px;
        margin-left: 80px;
        width: 400px;
    }
    .header {width: 100%;
        padding: 20px;}
    /* .img {margin-left: 0px;} */
    /* .clearfix {height: 80vh;} */

    .container {
        width: 100%;
        align-items: center;
        flex-flow: column wrap;

    }
    
    .img {
        width: 300px;
        align-items: center;

    }
}
